<div class="flex justify-between py-5">
    <h1 class="font-extrabold text-3xl ">Available Equipment Families</h1>
    <button (click)="prepareForAction('Add')" data-modal-target="equipment-modal" data-modal-toggle="equipment-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
        Add Family
    </button>
</div>
<app-loader *ngIf="equipments.length == 0 else table" ></app-loader>
<ng-template #table>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption class="hidden">Table for all available equipment</caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <td class="px-6 py-3">
                    Equipment's Image
                </td>
                <th scope="col" class="px-6 py-3">
                    Equipment's Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Equipment's Family
                </th>
                <th scope="col" class="px-6 py-3">
                    Equipment's quantity
                </th>
                <td>
                    <span class="sr-only">Actions</span>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let equipment of equipments; trackBy : trackEquipment" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <img src="./assets/img/truck.jpg" alt="equipment image" class="h-36 rounded-xl">
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ equipment.name }}
                </th>
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ equipment.equipmentFamily.name }}
                </td>
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ equipment.quantity }}
                </td>
                <td>
                    <button (click)="prepareForAction('Update',equipment.id,equipment.name,equipment.quantity,equipment.equipmentFamily.id)" data-modal-target="equipment-modal" data-modal-toggle="equipment-modal">
                        <svg class="w-6 h-6 text-yellow-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                            <path d="M12.687 14.408a3.01 3.01 0 0 1-1.533.821l-3.566.713a3 3 0 0 1-3.53-3.53l.713-3.566a3.01 3.01 0 0 1 .821-1.533L10.905 2H2.167A2.169 2.169 0 0 0 0 4.167v11.666A2.169 2.169 0 0 0 2.167 18h11.666A2.169 2.169 0 0 0 16 15.833V11.1l-3.313 3.308Zm5.53-9.065.546-.546a2.518 2.518 0 0 0 0-3.56 2.576 2.576 0 0 0-3.559 0l-.547.547 3.56 3.56Z"/>
                            <path d="M13.243 3.2 7.359 9.081a.5.5 0 0 0-.136.256L6.51 12.9a.5.5 0 0 0 .59.59l3.566-.713a.5.5 0 0 0 .255-.136L16.8 6.757 13.243 3.2Z"/>
                        </svg>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</ng-template>
<div id="equipment-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    <span *ngIf="action == 'Add'">Add Equipment</span>
                    <span *ngIf="action == 'Update'">Update Equipment</span>
                </h3>
                <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="equipment-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5">
                <form class="space-y-4" action="#">
                    <h4 >Equipment Information</h4>
                    <div>
                        <label for="equipmentName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Equipment Name</label>
                        <input [(ngModel)]="equipment.name" type="text" name="equipmentQuantity" id="equipmentName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="John" required>
                    </div>
                    <div>
                        <label for="equipmentFamily" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Equipment Family</label>
                        <select name="equipmentFamily" [(ngModel)]="equipment.equipmentFamily.id" id="equipmentFamily" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option *ngFor="let family of equipmentFamilies" [selected]="family.id == equipment.equipmentFamily.id" [ngValue]="family.id" >{{family.name}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="equipmentQuantity" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Equipment quantity</label>
                        <input [(ngModel)]="equipment.quantity" type="text" name="equipmentQuantity" id="equipmentQuantity" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="John" required>
                    </div>
                    <button *ngIf="action == 'Add'" (click)="this.addEquipment()" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" data-modal-hide="equipment-modal">Add Equipment</button>
                    <button *ngIf="action == 'Update'" (click)="this.updateEquipment()" class="w-full text-white bg-yellow-400 hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-blue-800" data-modal-hide="equipment-modal">Update Equipment</button>
                </form>
            </div>
        </div>
    </div>
</div>


