<div class="flex justify-between py-5">
    <h1 class="font-extrabold text-3xl ">Current Offers</h1>
</div>
<app-loader *ngIf="reservations.length == 0 else table" ></app-loader>
<ng-template #table>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption class="hidden">Table for all available equipment</caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <td class="px-6 py-3">
                    Reservation start Date
                </td>
                <th scope="col" class="px-6 py-3">
                    Reservation end Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Reservation Overall cost
                </th>
                <th scope="col" class="px-6 py-3">
                    Client First Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Client Last Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Organization Name
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reservation of reservations;" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ reservation.rentStartDate }}
                </th>
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ reservation.rentEndDate }} Dollar
                </td>
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ reservation.overallCost }} Dollar
                </td>
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ reservation.firstName }}
                </td>
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ reservation.lastName }}
                </td>
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ reservation.organizationName }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</ng-template>

